<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>qlgshopping2.0</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserInfoController</servlet-name>
    <servlet-class>com.qlgshopping.controller.UserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BusinessServlet</servlet-name>
    <servlet-class>com.qlgshopping.controller.BusinessServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.qlgshopping.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReceiveAddressServlet</servlet-name>
    <servlet-class>com.qlgshopping.controller.ReceiveAddressServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>com.qlgshopping.controller.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShopServlet</servlet-name>
    <servlet-class>com.qlgshopping.controller.ShopServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderTableServlet</servlet-name>
    <servlet-class>com.qlgshopping.controller.OrderTableServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyFootServlet</servlet-name>
    <servlet-class>com.qlgshopping.controller.MyHistoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TypeServlet</servlet-name>
    <servlet-class>com.qlgshopping.controller.TypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EvaLikeServlet</servlet-name>
    <servlet-class>com.qlgshopping.controller.EvaLikeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EvaluteServlet</servlet-name>
    <servlet-class>com.qlgshopping.controller.EvaluteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StoreServlet</servlet-name>
    <servlet-class>com.qlgshopping.controller.StoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.qlgshopping.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PayOrderServlet</servlet-name>
    <servlet-class>com.qlgshopping.controller.PayOrderServlet</servlet-class>
  </servlet>
  <filter>
    <filter-name>ecodingfilter</filter-name>
    <filter-class>com.qlgshopping.filter.EcodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ecodingfilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>ShopServlet</servlet-name>
    <url-pattern>/back/shopServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BusinessServlet</servlet-name>
    <url-pattern>/back/businessServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoController</servlet-name>
    <url-pattern>/front/userInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/front/productServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceiveAddressServlet</servlet-name>
    <url-pattern>/front/receiveAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/front/ShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderTableServlet</servlet-name>
    <url-pattern>/front/orderTableServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyFootServlet</servlet-name>
    <url-pattern>/front/myHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeServlet</servlet-name>
    <url-pattern>/front/typeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EvaLikeServlet</servlet-name>
    <url-pattern>/front/evaLikeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EvaluteServlet</servlet-name>
    <url-pattern>/front/evaluteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoreServlet</servlet-name>
    <url-pattern>/front/storeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/back/adminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayOrderServlet</servlet-name>
    <url-pattern>/front/payOrderServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>